
.ubicacionGridOfertas{
    grid-area: oferta;
    justify-items: center;
    align-items: center;
    text-align: center;
} 

.ubicacionGridDesayuno{
    grid-area: desayuno;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-top: 0%;
    margin-top: 0%;
    padding-top: 0px;
}

.ubicacionGridMerienda{
    grid-area: merienda;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-top: 0%;
    margin-top: 0%;
    padding-top: 0px;
}

.gridBodyIndex{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px
                        220px;
    grid-template-areas: "a1 a1"
                         "a2 a3";
    column-gap: 30px;
    height: 1000px;
}
/*ver si coincide con class ubicaciongridoferta*/
.tamañoDescuentoOferta{
    font-weight: 300;
    font-size: 30px;
    color: rgb(20, 20, 20);
    grid-area: precio;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.ubicacion__especial__mañana{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    grid-area: a2;
    text-align: -webkit-center;
    text-align-last: center;
}
.ubicacion__especial__tarde{
    grid-area: a3;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    text-align: -webkit-center;
    text-align-last: center;
}
.hubicacionGridHistoria{
    grid-area: historia;
    & div{
        grid-area: historia2;
    }
}
