@mixin Especiales ($area) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    text-align: -webkit-center;
    text-align-last: center;
    color: #504e4e;
}
.ubicacion__especial__mañana{
   @include Especiales(a2);
}
.ubicacion__especial__tarde{
    @include Especiales(a3)
}

.ubicacionGridOfertas{
    grid-area: oferta;
    justify-items: center;
    align-items: center;
    text-align: center;
} 

.tamañoDescuentoOferta{
    font-weight: 300;
    font-size: 30px;
    color: #c68451;
    grid-area: precio;
    justify-content: center;
    align-items: center;
    height: 100px;
}


.ubicacionGridDesayuno{
    grid-area: desayuno;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-top: 0%;
    margin-top: 0%;
    padding-top: 0px;
}

.ubicacionGridMerienda{
    grid-area: merienda;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-top: 0%;
    margin-top: 0%;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.gridBodyIndex{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80%
                        20%;
    grid-template-areas: "a1 a1"
                         "a2 a3";
    column-gap: 30px;

}

.hubicacionGridHistoria{
    grid-area: historia;
    & div{
        grid-area: historia2;
    }
}
