header{
    background-color: rgb(214,211,211);
    position:sticky;
     top: 0px;
     border: 1px solid $colorfuente;
 }
 
 header nav {
     background-color: rgb(214,211,211);
     display: inline-flex;
     width: 100%;
     flex-wrap: nowrap;
     flex-direction: row-reverse;
     position: sticky;
     top:0%;
 }
 .nav{
     width: 100%;
 }
 
 .estiloNav{
    text-decoration: none;
     list-style-type: none;
     font-style: italic;
     font-size:small;
     text-align: end;
     font-family: $FontFamily;
     align-items: center;
 }
 