header{
    background-color: rgb(214,211,211);
    position:sticky;
    top: 0px;
    border: 1px solid $colorfuente;
    & nav{
        background-color: rgb(214, 211, 211);
        display: inline-flex;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        position: sticky;
        top:0%;
    }
}