@import "Variables.scss";
@import "Header.scss";
@import "Main.scss";
@import "Grid.scss";
@import "MediaQueries.scss";
@import "Imagenes.scss";

*{
    margin: 0%;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    justify-content: center;
    align-content: center;
    color: $colorfuente;
    list-style-type: none;
    text-decoration: none;  
}

h2{
    text-align: center;
    font-family: $FontFamily;
    color: $colorfuente;
    margin-top: 25px;
}

h3{
    font-family: $FontFamily;
    padding-top: 5vw;
    background-color: $ColorPrincipal;
}

p{
    font-family: $FontFamily;
    font-weight: 500;
    text-align: center;
    color: $colorfuente;
}

ul li{
    display: contents;
    text-decoration: none;
    color: $colorfuente; 
    height: auto;
    justify-content: center;
    align-content: center;
}

.estilo__texto__productos{
    list-style-type:none;
    font-size: 1vw;
    max-width: 40vw;
    text-align: -webkit-center;
    text-align-last: center;
}
.tamañoPrecio{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.estructuraFormulario{
    font-family: $FontFamily;
    color: $colorfuente;
}


/* FOOTER */
.textoFooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: $colorprincipal;
    padding-bottom: 20px;
    color: $colorfuente;
    text-decoration: none;
    & :hover{
        color: #fac790;
    }
}

#Link{
    color: #504e4e;
    text-decoration: none;
    outline-style: none;
    &:hover{
        color: coral;
        text-decoration: none;
        outline-style: none;
    }
}

/* DIV */
div {
    & h3{
    text-align: center;
    }

    & li{
        padding-bottom: 5vw;
        text-align:left;
        padding-top: 1vw;
        font-size:x-large;
    }
}

